:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-light-color: #ffffff;
    --background-color: #F5F4FA;
}

body {
    background-color: var(--primary-light-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

.hidden {
    display: none;
}

.list {
    list-style: none;
}

/* Лого */

.logo {
    font-family: Raleway, sans-serif;
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-black {
    color: #000000;
}

.logo-white {
    color: #ffffff;
}

/* Header navigation menu */

.site-nav .link,
.contacts .link {
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts .link {
    color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* Main */

.hero {
    background-color: #2F303A;
    text-align: center;
}

.hero-text {
    color: var(--primary-light-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    font-family: inherit;
    text-align: center;
    cursor: pointer;
}

.hero-button {
    background-color: var(--accent-color);
    color: var(--primary-light-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}

/* Advantages */

.advantages-heder {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantages {
    font-size: 14px;
    line-height: 1.17;
}

/* Our Command */

.command-bg {
    background-color: var(--background-color);
}

.command-card {
    background-color: var(--primary-light-color);
}

.title {
    font-size: 36px;
    line-height: 1.17;
    color: var(--title-text-color);
    text-align: center;
}

.command {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.command-header {
    color: var(--title-text-color);
    font-weight: 500;
}

/* Footer */

.footer {
    background-color: #2F303A;
    color: var(--primary-light-color);
}

.physical-address,
.footer-link {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.physical-address {
    color: #ffffff;
}

.footer-link {
    color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover {
    color: var(--accent-color);
}

/* Portfolio */

.filter-button {
    background-color: var(--background-color);
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-color);
    color: var(--primary-light-color);
}

.projects {
    font-size: 16px;
    line-height: 1.86;
}

.projects .link {
    color: var(--primary-text-color);
    text-decoration: none;
}

.projects-title {
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
